@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body.html {
    background-color: #f7f7f7;
}

body{
    font-family: 'Roboto, sans-serif';
}

.register-header {
    text-align: center;
}

.register-box{
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    padding: 30px;
    border-radius: 25px;
}

.form-group {
    margin-bottom: 15px;
}

input{
    width: 100%;
    height: 15px;
    border: none;
    border-bottom: 1px solid #bcbcbc;
}

input:focus-visible{
    outline: none;
    border-color: #326cdf;
}

.button-area{
    text-align: right;
}

.register-btn{
    border: none;
    background-color: #326cdf;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto, sans-serif';
    padding: 10px 30px;
    border-radius: 5px;
}

.register-btn:hover{
    cursor: pointer;
    background-color: #326cdf;
}

.error-message{
    font-size: 14px;
    color: rgb(242, 79, 79);
}